[uwsgi]
chdir = /path/to/projectfolder
home = /path/to/projectfolder/env #the virtualenv folder

logto = /path/to/projectfolder/log/app.log

master = true
processes = 5

socket = /path/to/projectfolder/app.sock
chmod-socket = 660
vacuum = true

die-on-term = true

# Dev server - served in root directory
module = run:app

# Prod server - served in /litbit/ directory
#mount = /litbit=run:app
#manage-script-name = true