{% extends "layout.html" %}
{% block body %}
  <h1 class="title">{{ book.title }}</h1>
  <section class="poem">
        <div class="poem_line">{{ poem.line1 }}</div>
        <div class="poem_line">{{ poem.line2 }}</div>
        <div class="poem_line">{{ poem.line3 }}</div>
  </section>
  <section class="refresh">
    <a href="{{ url_for('get_poem', book=book.title) }}" id="refreshButton">New Poem</a>
  </section>
  <hr>
  <h2 class="other">Other Books</h2>
  {% include 'all_books.html' %}
{% endblock %}