<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Tiny Bit of Lit</title>
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Slabo+27px" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='haiku.css') }}">
</head>
<body>
<main id="page">
  <h1 class="title">{{ title }}</h1>
  <section class="haiku">
  	<div class="line">{{ line1 }}</div>
  	<div class="line">{{ line2 }}</div>
  	<div class="line">{{ line3 }}</div>
  </section>
  <section class="refresh">
  	<form action="" method="POST">
  		<input type="hidden" name="book" value="{{ title }}">
  		<input type="submit" value="New Poem" id="refreshButton">
  	</form>
  </section>
  <hr>
  <section>
	  <h2 class="other">Other Books</h2>
	  <form action="" method="POST">
		  <select name="book" onchange="this.form.submit()">
	  		{% for book in books %}
	  			{% if book == title %}
  				<option value="{{ book }}" selected="selected">{{ book }}</option>
	  			{% else %}
  				<option value="{{ book }}">{{ book }}</option>
	  			{% endif %}
	  		{% endfor %}
		  </select>
	  </form>
  </section>
</main>
</body>
</html>