<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tiny Bit of Lit</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Slabo+27px" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='haiku.css') }}">

  <link rel="favicon/apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
  <link rel="favicon/apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
  <link rel="favicon/apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
  <link rel="favicon/apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
  <link rel="favicon/apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
  <link rel="favicon/apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
  <link rel="favicon/apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
  <link rel="favicon/apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
  <link rel="favicon/apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/ms-icon-144x144.png') }}">
</head>
<body>
<main id="page">
  <h1 class="title">{{ title }}</h1>
  <section class="haiku">
  	<div class="line">{{ line1 }}</div>
  	<div class="line">{{ line2 }}</div>
  	<div class="line">{{ line3 }}</div>
  </section>
  <section class="refresh">
  	<form action="" method="POST">
  		<input type="hidden" name="book" value="{{ title }}">
  		<input type="submit" value="New Poem" id="refreshButton">
  	</form>
  </section>
  <hr>
  <section>
	  <h2 class="other">Other Books</h2>
	  <form action="" method="POST">
		  <select name="book" onchange="this.form.submit()">
	  		{% for book in books %}
	  			{% if book == title %}
  				<option value="{{ book }}" selected="selected">{{ book }}</option>
	  			{% else %}
  				<option value="{{ book }}">{{ book }}</option>
	  			{% endif %}
	  		{% endfor %}
		  </select>
	  </form>
  </section>
</main>
</body>
</html>